body
{
 background-size: cover;
}
 canvas{
    margin: 0;
 }
 h1{
    width: 100%;
    background-color: blue;
    margin-top: 0%;
 }
 .copy_right_footer {
   position: fixed;
   color: white;
   bottom: 0;
   width: 100%;
background-color: grey;
line-height: 3;
text-align: center;
}
canvas
 {
    margin-top: 25px;
    box-shadow: 10px 10px 10px blanchedalmond;
    border-radius: 10px;
    border: 5px ridge rgb(174, 171, 163);
 }